

.remotecontent-container {
    position: relative;
}

.remotecontent-content-iframe {
    border: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 250px;
}