

<!-- block_remote_content/iframe -->
<div id="hidden-remotecontent-{{id}}" class="remoteconent-container" style="height:{{{iframeheight}}}">
    <iframe class="remotecontent-content-iframe" src="{{{remotecontenturl}}}">
    </iframe>
</div>
<!-- /block_remote_content/iframe -->
